.animated {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; /* Define uma camada abaixo do conteúdo principal */
}

.wrapper {
  width: 100%;
  height: 100svh;
  background: #d500f9; /* Trocada para um tom de roxo mais claro */
  position: relative;
  overflow: hidden;
}

.wrapper div {
  position: absolute;
  filter: blur(5vw);
  opacity: 0.8;
}

.animated .one {
  border-radius: 100%;
  width: 150vw;
  height: 150vw;
  background-color: #6366f1; /* Trocada para uma tonalidade de azul mais clara */
  left: -5vw;
  top: -30vw;
  z-index: 3;
  animation: fly 12s linear infinite;
  transform: rotate(0) translate(8vw) rotate(0);
}

.animated .two {
  width: 125vw;
  height: 200vw;
  background-color: #ec4899; /* Trocada para uma tonalidade de rosa mais clara */
  bottom: -3vw;
  left: -8vw;
}

.animated .three {
  border-radius: 100%;
  width: 112.5vw;
  height: 112.5vw;
  bottom: -8vw;
  right: -10vw;
  background-color: #a855f7; /* Trocada para uma tonalidade de roxo mais escura */
  animation: flyPlus 10s linear infinite;
  transform: rotate(0) translate(20vw) rotate(0);
}

.four {
  border-radius: 100%;
  width: 87.5vw;
  height: 87.5vw;
  margin: auto;
  bottom: 0;
  right: 0;
  background-color: #3b82f6; /* Trocada para uma tonalidade de azul mais escura */
  animation: flyPlus 15s linear infinite;
  transform: rotate(0) translate(20vw) rotate(0);
}

@keyframes fly {
  0%,
  100% {
    transform: rotate(0) translate(8vw) rotate(0);
  }
  50% {
    transform: rotate(1turn) translate(8vw) rotate(-1turn);
  }
}

@keyframes flyPlus {
  0%,
  100% {
    transform: rotate(0) translate(20vw) rotate(0);
  }
  50% {
    transform: rotate(-1turn) translate(20vw) rotate(1turn);
  }
}

/* Adiciona media query para ajustar valores em desktops */
@media (min-width: 768px) {
  .animated .one {
    width: 80vw;
    height: 80vw;
    left: -2vw;
    top: -15vw;
  }

  .animated .two {
    width: 70vw;
    height: 100vw;
    bottom: -2vw;
    left: -5vw;
  }

  .animated .three {
    width: 60vw;
    height: 60vw;
    bottom: -5vw;
    right: -5vw;
    transform: rotate(0) translate(10vw) rotate(0);
  }

  .four {
    width: 50vw;
    height: 50vw;
    transform: rotate(0) translate(10vw) rotate(0);
  }
}
